Представим фильмы в виде бинарных векторов (numpy array) используя следующие признаки:

[Комедия, Боевик, Исторический, Бред Питт, Бенедикт Камбербэтч, Квентин Тарантино]

Игра в имитацию

Ярость

12 лет рабства

Однажды в Голливуде

Задание 1

Найти угол между векторами-фильмами "Ярость" и "12 лет рабства". Результатом будет являться косинусная мера, которую можно использовать для определения похожести векторов.

In [ ]:
import numpy as np

In [ ]:
film_1 = np.array([0,0,0,0,1,0])      # Игра в имитацию

film_2 = np.array([0,1,0,1,0,0])      # Ярость

film_3 = np.array([0,0,1,1,1,0])      # 12 лет рабства

film_4 = np.array([1,0,0,1,0,1])      # Однажды в Голливуде

In [ ]:
np.rad2deg(np.arccos(np.dot(film_2, film_3) / (np.linalg.norm(film_2) * np.linalg.norm(film_3))))

65.90515744788931

Задание 2

Вычислить с помощью Python значение первой производной для функции 3x(x ** 2 + x) ** 3
в точке x = 1

In [ ]:
import sympy as sym

In [ ]:
x = sym.Symbol('x')

In [ ]:
3*x*(x**2 + x)** 3

3*x*(x**2 + x)**3

In [ ]:
rezult = sym.diff(3*x*(x**2 + x)** 3, x)
rezult.subs(x,1)

132

Задание 3

Объединить векторы, полученные в Задании 1 в матрицу, где каждый вектор является строкой матрицы. Полученную матрицу умножить на вектор [1,2,3,4]

In [ ]:
m1 = np.array([film_1, film_2, film_3, film_4])
m1

array([[0, 0, 0, 0, 1, 0],
       [0, 1, 0, 1, 0, 0],
       [0, 0, 1, 1, 1, 0],
       [1, 0, 0, 1, 0, 1]])

In [ ]:
v = np.array([1,2,3,4])

In [ ]:
np.dot(v, m1.reshape(4, 6))

array([4, 2, 3, 9, 4, 4])

In [ ]:
m1.T.dot(v)

array([4, 2, 3, 9, 4, 4])